@using Esavdo.Resources
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>E-Savdo LLC</h1>
    <p class="lead">@HomeTexts.OnlineShop E-Savdo.uz</p>
    <p><a href="http://www.esavdo.uz" class="btn btn-primary btn-lg">@HomeTexts.LearnMore &raquo;</a></p>
</div>
